body {
	margin: 0;
	padding: 0;
}

.nav {
	/* 	width: 100%; */
	overflow: hidden;
	margin: 0;
	/* 	border-top: 1px solid #999; */
	border-bottom: 1px solid #999;
	border-right: none;
	padding: 0;
	background-color: #f3f3f3; /*//TODO TEST  */
	font-family: sans-serif;
}

.left {
	float: left;
	/* 	overflow: hidden; */
	/* 	margin: 0; */
	/* 	border: 1px solid white; DIV border color */
	/* 	border-right: none; */
	/* 	padding: 0; */
}

.left ul {
	margin: 0;
	padding: 0;
}

.left ul li {
	float: left;
	list-style: none;
}

/* level 1 menu */
.left ul li a {
	display: block;
	width: auto;
	/* 	border-right: 1px solid white; DIV border color */
	background-color: #f3f3f3; /* level 1 menu background color */
	padding: 0.8em 2.4em; /* level 1 menu padding */
	text-align: center;
	text-decoration: none;
	color: #666; /* menu color */
	cursor: pointer;
}

.left ul li a:hover {
	color: #111;
}

.left ul li ul {
	position: absolute;
	display: none;
}

.left ul li ul li {
	float: none;
}

/* level 2 menu */
.left ul li ul li a {
	width: auto; /* level 2 menu width*/
	background-color: #fff; /* level 2 menu background color */
	padding: 0.8em 2.4em; /*level 2 menu padding*/
	text-align: left;
}

.left ul li ul li a:hover {
	background-color: #ddd;
}

.left ul li:hover ul {
	display: block;
	border-top: 3px solid #333;
}

.middle {
	/* 	float: none; */
	background-color: #f3f3f3;
}

.right {
	float: right;
	background-color: #f3f3f3;
	padding: 0.8em 2.4em;
	color: #111;
}

.right a {
	padding: 0.8em 2.4em; /* level 1 menu padding */
	text-align: center;
	text-decoration: none;
	color: #666;
}

.right  a:hover {
	color: #111;
}

.right .seperate {
	padding: 0.8em 2.4em; /* level 1 menu padding */
	text-align: center;
	color: #999;
}