/* body */
body {
	margin: 0;
	padding: 0;
}

body a {
	color: #004b91;
	text-decoration: none;
}

body a:HOVER {
	color: #e47911;
	text-decoration: none;
}

body button {
	cursor: pointer;
}

/* .menu */
.menu {
	/* 	width: 100%; */
	overflow: hidden;
	margin: 0;
	border-bottom: 1px solid #ddd;
	border-right: none;
	padding: 0;
	background-color: #f3f3f3;
	font-family: sans-serif;
}

.menu  ul {
	margin: 0;
	padding: 0;
}

.menu  ul li {
	float: left;
	list-style: none;
}

.menu  ul li span {
	display: block;
	width: auto;
	background-color: #f3f3f3; /* level 1 menu background color */
	padding: 0.8em 2.4em; /* level 1 menu padding */
	text-align: center;
	color: #666; /* menu color */
}

/* level 1 menu */
.menu  ul li a {
	display: block;
	width: auto;
	background-color: #f3f3f3; /* level 1 menu background color */
	padding: 0.8em 2.4em; /* level 1 menu padding */
	text-align: center;
	text-decoration: none;
	color: #666; /* menu color */
}

.menu  ul li a:HOVER {
	color: #111;
}

.menu  ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
}

.menu  ul li ul li {
	float: none;
	padding: 3px 3px;
}

/* level 2 menu */
.menu  ul li ul li a {
	width: auto; /* level 2 menu width*/
	background-color: #fff; /* level 2 menu background color */
	padding: 0.8em 1.6em; /*level 2 menu padding*/
	text-align: left;
}

.menu  ul li ul li a:HOVER {
	background-color: #ddd;
}

.menu  ul li:hover ul {
	display: block;
	border: 1px solid #ddd;
	border-top: 3px solid #333;
}

.menu .left {
	float: left;
}

.menu .right {
	float: right;
}

.menu .right ul li ul {
	right: 0;
}

.menu .middle {
	float: none;
}

/* .content */
.content {
	margin: 0;
	padding: 0 2.8%;
	min-height: 80vh;
}

.content table {
	width: 100%;
	margin-top: 1em;
	border-spacing: 0;
	border: 1px solid #ddd;
	border-bottom: none;
	background-color: #fff;
	padding: 0;
	text-align: left;
}

.content table th {
	border-bottom: 1px solid #ddd;
	background-color: #f3f3f3;
	padding: 0 2% 0 0;
}

.content table td {
	border-bottom: 1px solid #ddd;
}

.content table tr:HOVER {
	background-color: #eef5ff;
}

/* .footer */
.footer {
	position: relative;
	top: 5vh;
	left: 0;
	margin: 0;
	border-top: 1px solid #ddd;
	padding: 0;
	width: 100%;
	background-color: #f3f3f3;
	overflow: hidden;
	color: #666;
}

.footer .left {
	float: left;
}

.footer .left ul {
	margin: 0;
	padding: 0;
}

.footer .left ul li {
	float: left;
	list-style: none;
}

.footer .left ul li a {
	display: block;
	width: auto;
	background-color: #f3f3f3;
	padding: 0.8em 2.4em;
	text-align: center;
	text-decoration: none;
}

.footer .left ul li a:hover {
	text-decoration: underline;
}

.footer .middle {
	float: none;
	background-color: #f3f3f3;
}

.footer .right {
	float: right;
	background-color: #f3f3f3;
	padding: 0.8em 2.4em;
}