* {
	/* 	The CSS3 box-sizing property allows us to include the padding and border in an element's total width and height */
	box-sizing: border-box;
}
/* body */
body {
	margin: 0;
	padding: 0;
}

body a {
	color: #004b91;
	text-decoration: none;
}

body a:HOVER {
	color: #e47911;
	text-decoration: none;
}

body button {
	cursor: pointer;
}

/* .menu */
.menu {
	overflow: hidden;
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: 0;
	background-color: #f3f3f3;
	font-family: sans-serif;
}

.menu  ul {
	margin: 0;
	padding: 0;
}

.menu  ul li {
	float: left;
	list-style: none;
}

/* level 1 menu */
.menu  ul li a, .menu  ul li span {
	display: block;
	width: auto;
	background-color: #f3f3f3; /* level 1 menu background color */
	padding: 1.1em 3em 1.1em 1em; /* level 1 menu padding */
	text-align: center;
	text-decoration: none;
	color: #666; /* menu color */
}

.menu  ul li a:HOVER {
	color: #111;
}

.menu  ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
}

.menu  ul li ul li {
	float: none;
	padding: 3px 3px;
}

/* level 2 menu */
.menu  ul li ul li a {
	width: auto; /* level 2 menu width*/
	background-color: #fff; /* level 2 menu background color */
	padding: 1em 1.3em 1em 1em; /*level 2 menu padding*/
	text-align: left;
}

.menu  ul li ul li a:HOVER {
	background-color: #ddd;
}

.menu  ul li:hover ul {
	display: block;
	border: 1px solid #ddd;
	border-top: 3px solid #333;
}

.menu .left {
	float: left;
}

.menu .right {
	float: right;
}

.menu .right ul li ul {
	right: 0;
}

.menu .middle {
	float: none;
}

/* .content */
.content {
	margin: 0;
	padding: 1em 1.6em;
	min-height: 80vh;
}

.content form {
	padding: 1em 0;
}

.content table {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 0;
	background-color: #fff;
	text-align: left;
}

.content table th, .content table td {
	border-bottom: 1px solid #ddd;
}

.content table th {
	padding: 1em 1em 1em 0;
	background-color: #f3f3f3;
}

.content table td {
	padding: 0 1em 0 0;
}

.content table tr:HOVER {
	background-color: #eef5ff;
}

/* .footer */
.footer {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	border-top: 1px solid #ddd;
	padding: 0;
	width: 100%;
	background-color: #f3f3f3;
	overflow: hidden;
	color: #666;
}

.footer .left {
	float: left;
}

.footer .left ul {
	margin: 0;
	padding: 0;
}

.footer .left ul li {
	float: left;
	list-style: none;
}

.footer .left ul li a {
	display: block;
	width: auto;
	background-color: #f3f3f3;
	padding: 1.1em 3em;
	text-align: center;
	text-decoration: none;
}

.footer .left ul li a:hover {
	text-decoration: underline;
}

.footer .middle {
	float: none;
	background-color: #f3f3f3;
}

.footer .right {
	float: right;
	background-color: #f3f3f3;
	padding: 1.1em 3em;
}